<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>发布 - QM社区</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/community.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        /* 鼠标点击特效 - 7Core.CN */
        var a_idx = 0;jQuery(document).ready(function($) {$("body").click(function(e) {var a = new Array("富强", "民主", "文明", "和谐", "自由", "平等", "公正" ,"法治", "爱国", "敬业", "诚信", "友善");var $i = $("<span/>").text(a[a_idx]);
            a_idx = (a_idx + 1) % a.length;var x = e.pageX,y = e.pageY;$i.css({"z-index": 100000000,"top": y - 20,"left": x,"position": "absolute","font-weight": "bold","color": "#ff6651"});$("body").append($i);$i.animate({"top": y - 180,"opacity": 0},1500,function() {$i.remove();});});});
    </script>

</head>
<body>
<div th:insert="~{navigation::nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
            <h3><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h3>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">

                <div class="form-group">
                    <label for="title">问题标题 (简单扼要) ：</label>
                    <input type="text" class="form-control" id="title" name = "title" th:value="${title}" placeholder="问题标题...">
                </div>

                <div class="form-group">
                    <label for="description">问题补充（必填，请参照右侧提示） ：</label>
                    <textarea name="description" id="description" cols="30" rows="10"  class="form-control" th:text="${description}"></textarea>

                </div>

                <div class="form-group">
                    <label for="title">添加标签 ：</label>
                    <input type="text" class="form-control" id="tag" name = "tag" th:value="${tag}"                            autocomplete="off"
                           placeholder="输入标签，以，号分隔"
                           onclick="showSelectTag()">
                    <div id="select-tag" class="publish-tag-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" th:each="selectCategory: ${tags}" >
                                <a th:href="${'#'+selectCategory.categoryName}" aria-controls="home" role="tab"
                                   data-toggle="tab" th:text="${selectCategory.categoryName}"></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel"  th:id="${selectCategory.categoryName}"
                                 th:each="selectCategory: ${tags}" th:class="${selectCategoryStat.first?'active tab-pane':'tab-pane'}">
                                <span>
                                    <span class="label label-info question-tag"  th:each="selectTag: ${selectCategory.tags}">
                                        <span class="glyphicon glyphicon-tags" onclick="selectTag(this)"
                                              th:data-tag="${selectTag}"
                                              >
                                        </span>
                                        <span class="label label-info" style="font-size: 100%;" onclick="selectTag(this)" th:data-tag="${selectTag}" th:text="${selectTag}"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span th:text="${error}" style="color:red"></span>
                    </div>

                    <!--<div style="margin-top: 10px">
                        <span class="label label-info question-tag" style="font-size: 100%;">
                            <span class="glyphicon glyphicon-tags" onclick="selectTag(this)"></span>
                            <span class="label label-info" style="font-size: 100%;" onclick="selectTag(this)">Spring</span>
                        </span>
                        <span class="label label-info question-tag" style="font-size: 100%">
                            <span class="glyphicon glyphicon-tags" onclick="selectTag(this)"></span>
                            <span class="label label-info" style="font-size: 100%;" onclick="selectTag(this)">Java</span>
                        </span>

                    </div>-->
                </div>


                <span class="alert alert-danger" th:text="${errorMessage}" th:if="${errorMessage!=null}"></span>

                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <h3>问题发起指南</h3>
            <br><br>
            • 问题标题: 请用精简的语言描述您发布的问题，不超过25字 <br><br><br><br>
            • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br><br><br><br>
            • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br><br><br><br>
        </div>
    </div>
</div>
<div th:if="${session.user !=null}">
    <p th:text="'&nbsp;&nbsp;&nbsp;&nbsp;    name:'+${session.user.name}"></p>
</div>



</body>
</html>